@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#app {
    height: 100%;
}

.clickable {
    cursor: pointer;
}

.table-button {
    pointer-events: none;
}

.right-0 {
    right: 0 !important;
}